.main {
  display: grid;
  border: 3px rgb(90, 165, 56);
  text-align: center;
  align-items: center;
  padding: 3px;
}

.inner {
  margin: 3px;
  padding: 3px;
  border: 5px solid rgb(90, 165, 56);
  background-color: rgb(90, 165, 56, 0.2);
  width: auto;
}

#img {
  width: 60%;
  height: auto;
  border: 2px solid black;
  /* border-image: url("https://png.pngtree.com/png-clipart/20190903/original/pngtree-decorative-border-gold-photo-frame-png-image_4452413.jpg")
    50 round; */
}

#art {
  font-family: cursive;
  font-size: small;
  font-weight: bold;
}

#sp1 {
  font-weight: bolder;
  font-size: medium;
  color: rgb(255, 0, 0);
}
